@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

/* header */
header{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-family: 'Caveat', cursive;
    font-size: 80px;
    text-align: center;
}